<div class="full-image-background mb-bg-21" layout="column" flex="" layout-align="center center">
    <div layout="row" class="error-container">
        <div flex=""><img src="assets/images/font/material-font-4.png"></div>
        <div flex=""><img src="assets/images/font/material-font-0.png"></div>
        <div flex=""><img src="assets/images/font/material-font-4.png"></div>
    </div>
    <md-card class="error-container">
        <md-card-content class="text-center"><h1 class="md-display-1" translate="">Page not found</h1>
            <p translate="">Sorry the page you were looking for could not be found.</p>
            <md-button class="md-primary md-raised" ng-click="vm.goHome()" translate="" aria-label="Go Home">Go Home
            </md-button>
        </md-card-content>
    </md-card>
</div>