<div class="full-image-background mb-bg-21" layout="column" flex="" layout-align="center center">
    <div class="error-container">
        <div layout="row">
            <div flex=""><img src="assets/images/font/material-font-5.png"></div>
            <div flex=""><img src="assets/images/font/material-font-0.png"></div>
            <div flex=""><img src="assets/images/font/material-font-0.png"></div>
        </div>
    </div>
    <md-card class="error-container">
        <md-card-content class="text-center"><h1 class="md-display-1" translate="">Internal Server Error</h1>
            <p translate="">Oops looks liks something has gone wrong</p>
            <md-button class="md-primary md-raised" ng-click="vm.goHome()" aria-label="Go Home" translate="">Go Home
            </md-button>
        </md-card-content>
    </md-card>
</div>