<div class="full-image-background brighterminds-default-bg" layout="column" flex="" layout-align="center center">
    <md-card class="error-container">
        <md-card-content class="text-center"><h1 class="md-display-1" translate="">Invalid Credentials</h1>
            <md-button class="md-primary md-raised" ng-click="vm.loginaAain()" aria-label="Go Home" translate="">Try
                Again
            </md-button>
            <md-button class="md-primary md-raised" ng-click="vm.resetPassword()" aria-label="Go Home" translate="">
                Forgot Password
            </md-button>
        </md-card-content>
    </md-card>
</div>